<!doctype HTML>
<html>
	<head>
		<title>LocalWeb</title>

		<style>
			body {
				background-color: #EBDBB2;
			}

			#container {
				margin: 0 auto;
				width: 1000px;
			}

			h1 {
				text-align: center;
				border-bottom: 2px dotted gray;
			}

			ul {
				list-style-type: none;
			}

			li {
				margin-bottom: 10px;
			}

			.delete-link {
				font-size: small;
				font-style: italic;
				color: gray;
			}
		</style>
	</head>
	<body>
		<div id="container">
			<header>
				<h1>LocalWeb</h1>
			</header>
			<main>
				{% for date, objects in objects_by_date  %}
					<h3>{{ date }}</h3>
					<ul>
						{% for object in objects  %}
						<li>
							<a href="{{ url_for("view_object", object_id=object.id) }}">{{ object.title }}</a>
							&nbsp;&nbsp; <a class="delete-link" href="{{ url_for("delete_object", object_id=object.id) }}" onclick="on_click_delete(event)">delete</a>
						</li>
						{% endfor %}
					</ul>
				{% endfor %}
			</main>
		</div>

		<script>
			async function on_click_delete(event) {
				event.preventDefault();
				if (confirm("Delete this object?")) {
					let response = await fetch(event.target.href, {method: "POST"});
					if (!response.ok) {
						alert("Deleting object failed");
						return;
					}

					window.location.reload();
				}
			}
		</script>
	</body>
</html>
